In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

In [2]:
df = pd.read_csv('job_df_eda.csv')

In [3]:
df.salary.min()

55000.0

In [4]:
df.head()

,job_title,location,company,class,job_type,description,analyst,senior_role,data_scientist,pay_type,salary
0,data scientist | smart cities,Sydney,Talenza,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by an Icon ...,NaN,False,data scientist,daily,262500.0
1,data scientist l machine learning engineer l $...,Sydney,NaN,Information & Communication Technology,Full Time,Great team environment/ office space Perman...,NaN,False,data scientist,annual,154999.5
2,data scientist,Melbourne,FourQuarters Recruitment,Information & Communication Technology,Full Time,Data Scientist | Melbourne CBD | Permanent\r\r...,NaN,False,data scientist,annual,NaN
3,lead data scientist | python | machine learning,Sydney,Talenza,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by industry...,NaN,True,data scientist,daily,356250.0
4,data scientist,Sydney,Greythorn Experis,Information & Communication Technology,Contract/Temp,\r\r\r\r\n\r\r\r\r\n\r\r\r\r\nHands-on experie...,NaN,False,data scientist,annual,NaN

In [5]:
df['class'].value_counts()

Information & Communication Technology    561
Other                                     121
Financial Services                         75
Science & Healthcare                       64
Name: class, dtype: int64

In [6]:
df.senior_role.value_counts()

False    611
True     210
Name: senior_role, dtype: int64

### Categorising job titles further

In [7]:
def clean_title(text):
    pat = re.compile('.*business\sintelligence.*')
    matches = re.match(pat, text)
    if matches:
        return 'business_intelligence'
    else:
        return None

In [74]:
def clean_title(text):
    pat = re.compile('.*engineer.*')
    matches = re.match(pat, text)
    if matches:
        return 'data engineer'
    else:
        return ' '

In [76]:
df['data_engineer'] = df.job_title.map(lambda x: clean_title(x))

In [75]:
def clean_title2(text):
    pat = re.compile('.*consultan(t|cy).*')
    matches = re.match(pat, text)
    if matches:
        return 'consultant'
    else:
        return ' '

In [8]:
df['business_intelligence'] = df.job_title.map(lambda x: clean_title(x))

In [77]:
df['consultant']= df.job_title.map(lambda x: clean_title2(x))

In [35]:
df['senior_role'] = df['job_title'].str.contains('manager') | df['job_title'].str.contains('lead') | df['job_title'].str.contains('senior') | df['job_title'].str.contains('director')

In [36]:
df.analyst.value_counts()

analyst    196
Name: analyst, dtype: int64

In [37]:
df.data_scientist.value_counts()

data scientist    131
Name: data_scientist, dtype: int64

In [38]:
df.business_intelligence.value_counts()

business_intelligence    93
Name: business_intelligence, dtype: int64

In [41]:
df.consultant.value_counts()

consultant    88
Name: consultant, dtype: int64

In [27]:
df.groupby(['location'])['salary'].median()

location
ACT                          195000.00
Adelaide                     115029.50
Brisbane                      87373.75
Gosford & Central Coast            NaN
Hobart                             NaN
Mackay & Coalfields                NaN
Melbourne                    129092.50
Perth                        110000.00
South West Coast VIC               NaN
Sydney                       140000.00
Toowoomba & Darling Downs          NaN
Name: salary, dtype: float64

In [28]:
df.groupby(['job_type'])['salary'].median()

job_type
Casual/Vacation         NaN
Contract/Temp      180000.0
Full Time          128185.0
Part Time           59999.5
Name: salary, dtype: float64

In [29]:
df.groupby(['business_intelligence'])['salary'].median()

business_intelligence
business_intelligence    137500.0
Name: salary, dtype: float64

In [201]:
df[(df.data_scientist == 'data scientist') & (df.salary.isnull())].shape

(87, 12)

In [202]:
df[(df.analyst == 'analyst') & (df.salary.isnull())].shape

(142, 12)

In [203]:
df[(df.business_intelligence == 'business_intelligence') & (df.salary.isnull())].shape

(71, 12)

In [42]:
df.groupby(['analyst'])['salary'].median()

analyst
analyst    125000.0
Name: salary, dtype: float64

In [42]:
df.senior_role = df.senior_role.astype(str)

In [43]:
df['senior_data_scientist'] = df['data_scientist'].str.contains('data scientist') & df['senior_role'].str.contains('True')

In [44]:
df['senior_data_scientist'] = df.senior_data_scientist.astype(str)

In [45]:
df['senior_data_scientist'] = df.senior_data_scientist.replace('True','SeniorDS')

In [46]:
df['senior_data_scientist'] = df.senior_data_scientist.replace('False',' ')

In [210]:
df

,job_title,location,company,class,job_type,description,analyst,senior_role,data_scientist,pay_type,salary,business_intelligence,senior_data_scientist
0,data scientist | smart cities,Sydney,Talenza,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by an Icon ...,NaN,False,data scientist,daily,262500.0,None,
1,data scientist l machine learning engineer l $...,Sydney,NaN,Information & Communication Technology,Full Time,Great team environment/ office space Perman...,NaN,False,data scientist,annual,154999.5,None,
2,data scientist,Melbourne,FourQuarters Recruitment,Information & Communication Technology,Full Time,Data Scientist | Melbourne CBD | Permanent\r\r...,NaN,False,data scientist,annual,NaN,None,
3,lead data scientist | python | machine learning,Sydney,Talenza,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by industry...,NaN,True,data scientist,daily,356250.0,None,SeniorDS
4,data scientist,Sydney,Greythorn Experis,Information & Communication Technology,Contract/Temp,\r\r\r\r\n\r\r\r\r\n\r\r\r\r\nHands-on experie...,NaN,False,data scientist,annual,NaN,None,
5,data scientist | customer analytics | fintech,Sydney,HCM Australia,Information & Communication Technology,Full Time,\r\r\r\r\n \r\r\r\r\nÂ \r\r\r\r\nData Scientist...,analyst,False,data scientist,annual,165000.0,None,
6,senior data scientist / data products consult...,Melbourne,Correlate Resources,Information & Communication Technology,Contract/Temp,In this exciting contract opportunity we are l...,NaN,True,data scientist,daily,300000.0,None,SeniorDS
7,data scientist,Sydney,Motion Recruitment,Information & Communication Technology,Full Time,About the business and the role My client is ...,NaN,False,data scientist,annual,NaN,None,
8,data science and analytics specialist (data sc...,Sydney,GP Synergy,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\nFull-time position\r\r\r\r...,analyst,False,data scientist,annual,NaN,None,
9,data scientist,Sydney,Foxtel Management Pty Limited,Information & Communication Technology,Full Time,"At Foxtel, weâre bringing television to Austra...",NaN,False,data scientist,annual,NaN,None,
10,associate data scientist,Melbourne,GO1 Pty Ltd,Science & Healthcare,Full Time,The opportunity GO1 are looking for an Associa...,NaN,False,data scientist,annual,NaN,None,
11,senior data scientist,Melbourne,Foxtel Management Pty Limited,Information & Communication Technology,Full Time,"At Foxtel, weâre bringing television to Austra...",NaN,True,data scientist,annual,NaN,None,SeniorDS
12,senior data scientist - data centre of excellence,Sydney,Optus,Financial Services,Full Time,\r\r\r\r\nData Centre of Excellence Come and ...,NaN,True,data scientist,annual,NaN,None,SeniorDS
13,mid level data scientist/machine learning engi...,Sydney,Intellify,Information & Communication Technology,Full Time,About Intellify Intellify is an award-winning ...,NaN,False,data scientist,annual,110000.0,None,
14,research scientist - data integration,Melbourne,CSIRO,Science & Healthcare,Full Time,\r\r\r\r\n\r\r\r\r\n \r\r\r\r\nThe Opportunity...,NaN,False,NaN,annual,102791.5,None,
15,data scientist,Brisbane,Finite IT Recruitment Solutions,Information & Communication Technology,Contract/Temp,\r\r\r\r\nMultipleÂ roles for a 6-month contrac...,NaN,False,data scientist,annual,NaN,None,
16,"senior / lead data scientist: utilities, manuf...",Sydney,Data Talent Pty Ltd,Information & Communication Technology,Full Time,Data Executive is a recruitment search firm wh...,NaN,True,data scientist,annual,200000.0,None,SeniorDS
17,senior data scientist,Sydney,FIRESOFT Consulting,Information & Communication Technology,Full Time,"\r\r\r\r\nSenior Data Scientist - Surry Hills,...",NaN,True,data scientist,annual,130000.0,None,SeniorDS
18,senior data scientist,Sydney,T+O+M Executive,Science & Healthcare,Full Time,\r\r\r\r\nJoin a newly established team of dat...,NaN,True,data scientist,annual,150000.0,None,SeniorDS
19,"experienced data scientist, western subs, syd...",Sydney,inDmand Career Solutions,Financial Services,Full Time,My client is an innovative Financial Services ...,NaN,False,data scientist,annual,150000.0,None,
20,data scientist (deep learning & ai ),Melbourne,Six Degrees Executive Pty Ltd,Science & Healthcare,Contract/Temp,\r\r\r\r\nA leading Innovative Technology solu...,NaN,False,data scientist,annual,NaN,None,
21,senior data scientist and biodiversity informa...,Brisbane,IPA,Science & Healthcare,Contract/Temp,\r\r\r\r\nIPA is currently seeking people for ...,NaN,True,data scientist,annual,NaN,None,SeniorDS
22,data science software engineer,Sydney,The University of Sydney,Information & Communication Technology,Full Time,About the opportunity This is an exciting opp...,NaN,False,data scientist,annual,NaN,None,
23,data scientist - machine learning // c++ // py...,Sydney,Xpand Group Pty Ltd,Financial Services,Full Time,The CompanyMy client is a global leader within...,NaN,False,data scientist,annual,NaN,None,
24,"data scientist, analytics, machine learning - ...",Sydney,Infinity Pro,Information & Communication Technology,Full Time,Your Benefits:\r\r\r\r\n\r\r\r\r\nGreat Packag...,analyst,False,data scientist,annual,NaN,None,
25,senior data scientist,Sydney,Aurec,Information & Communication Technology,Contract/Temp,Where youâll be working:You will be working wi...,NaN,True,data scientist,annual,NaN,None,SeniorDS
26,lead data scientist,Melbourne,Michael Page Information Technology,Information & Communication Technology,Full Time,\r\r\r\r\nHelp drive data science and machine ...,NaN,True,data scientist,annual,215000.0,None,SeniorDS
27,data scientist - marketing,Sydney,Sirius Technology Sydney part of Sirius People...,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\nBe part of a high performi...,NaN,False,data scientist,annual,NaN,None,
28,commodity data scientist - sydney,Sydney,GrainCorp,Financial Services,Full Time,\r\r\r\r\nTogether we understand the big pictu...,NaN,False,data scientist,annual,NaN,None,
29,data scientist,Melbourne,Ethos BeathChapman,Information & Communication Technology,Full Time,\r\r\r\r\nWe are looking for a Data Scientist ...,NaN,False,data scientist,annual,150000.0,None,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,security guard - retail - on call casual - mac...,Mackay & Coalfields,Millennium Hi-Tech Group Pty Ltd,Other,Casual/Vacation,The CompanyMillennium Services Group Ltd is an...,NaN,False,NaN,annual,NaN,None,
792,hr data analyst - workday,Sydney,Motion Recruitment,Information & Communication Technology,Contract/Temp,About the business and the role My client is ...,analyst,False,NaN,annual,NaN,None,
793,el1 change communications lead,ACT,Randstad - Commercial,Other,Contract/Temp,\r\r\r\r\nAre you an experienced Change Commun...,NaN,True,NaN,hourly,190000.0,None,
794,security systems- sales consultant,Brisbane,Professional Caliber Security,Other,Full Time,Professional Caliber Security are currently lo...,NaN,False,NaN,annual,NaN,None,
795,bi developer,Perth,Aurora Consulting Pty Ltd,Information & Communication Technology,Full Time,The Company Aurora Consulting is an establishe...,NaN,False,NaN,hourly,160000.0,None,
796,senior technical ba | bi | long term contract |,Sydney,Billigence,Information & Communication Technology,Contract/Temp,ABOUT US Billigence Pty Ltd is a specialist i...,NaN,True,NaN,annual,NaN,None,
797,microsoft azure senior to managing consultant,Sydney,Altis Consulting,Information & Communication Technology,Full Time,Why Altis?Altis ConsultingÂ was established in ...,NaN,True,NaN,annual,NaN,None,
798,test analyst,Brisbane,Eden Ritchie Recruitment,Information & Communication Technology,Contract/Temp,\r\r\r\r\n\r\r\r\r\nWork close to home!\r\r\r\...,analyst,False,NaN,hourly,85000.0,None,
799,pricing and business analyst - manufacturing,Sydney,Robert Walters,Financial Services,Full Time,\r\r\r\r\nAn excellent opportunity has present...,analyst,False,NaN,annual,95000.0,None,
800,demand and supply planner,Melbourne,Hays Logistics,Other,Full Time,\r\r\r\r\nJoin a company that values your deve...,NaN,False,NaN,annual,77500.0,None,
801,senior change manager | long term contract | i...,Sydney,Billigence,Information & Communication Technology,Contract/Temp,About usÂ Â Billigence Pty Ltd is a specialist...,NaN,True,NaN,annual,NaN,None,
802,senior java full stack web developer,Melbourne,Pactera Technology Australia Pty Ltd,Information & Communication Technology,Full Time,About Us Pactera is a leading digital consulti...,NaN,True,NaN,annual,NaN,None,
803,managing consultant - data management,Sydney,Altis Consulting,Information & Communication Technology,Full Time,Do you have a passion for developing strategic...,NaN,False,NaN,annual,NaN,None,
804,software developer,Brisbane,NEXUSsoft Pty Ltd,Information & Communication Technology,Full Time,Salary commensurate with skills and experienc...,NaN,False,NaN,annual,NaN,None,
805,future student recruitment analyst,Sydney,University of New South Wales,Other,Full Time,\r\r\r\r\n\r\r\r\r\nJoin us at an exciting tim...,analyst,False,NaN,annual,NaN,None,
806,senior sap data services consultant - new zealand,Melbourne,Morgan Campbell - the #1 SAP Recruitment Experts,Information & Communication Technology,Contract/Temp,Morgan Campbell is the #1 provider of SAP Recr...,NaN,True,NaN,annual,NaN,None,
807,sql developer - defence,Melbourne,Marshall McAdam,Information & Communication Technology,Full Time,\r\r\r\r\nSQL Developer Role - Technical Speci...,NaN,False,NaN,annual,NaN,None,
808,bi/ snr consultant role â data and analytics (...,Sydney,Opus Recruitment Solutions,Information & Communication Technology,Full Time,My client is one of the worldâs leading infras...,analyst,False,NaN,annual,145000.0,None,
809,senior bi developer,Melbourne,Programmed Professionals,Information & Communication Technology,Full Time,\r\r\r\r\nSeeking an enthusiastic Senior BI de...,NaN,True,NaN,annual,NaN,None,
810,support consultant,Sydney,NaN,Information & Communication Technology,Full Time,Our client is a global software manufacturer c...,NaN,False,NaN,annual,87500.0,None,
811,data analyst - power bi,ACT,Modis,Information & Communication Technology,Full Time,\r\r\r\r\nModis based in Canberra is looking f...,analyst,False,NaN,annual,NaN,None,
812,senior developer,Melbourne,GMT People,Information & Communication Technology,Full Time,\r\r\r\r\nOur client is an industry leader in ...,NaN,True,NaN,annual,NaN,None,
813,microsoft office 365 (senior consultant),Perth,FinXL IT Professional Services,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,NaN,True,NaN,annual,NaN,None,
814,senior engineer (active directory & azure),Perth,FinXL IT Professional Services,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,NaN,True,NaN,annual,NaN,None,
815,data platform manager (bi & data warehouse),Melbourne,Envato,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\n\r\r\r\r\nLead Envatoâs gr...,NaN,True,NaN,annual,NaN,None,
816,solutions architect (active directory & azure),Perth,FinXL IT Professional Services,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,NaN,True,NaN,annual,NaN,None,
817,principal data specialist,Sydney,Data Addiction Pty Ltd,Information & Communication Technology,Full Time,Principal Data Specialist In the realms of dat...,NaN,False,NaN,annual,140000.0,None,
818,financial controller,Melbourne,Radisson on Flagstaff Gardens,Financial Services,Full Time,\r\r\r\r\nRadisson on Flagstaff Gardens Melbou...,NaN,False,NaN,annual,NaN,None,
819,data analytics / bi manager,Melbourne,Aginic,Information & Communication Technology,Full Time,THE COMPANY Aginic is a rapidly growing data s...,analyst,True,NaN,annual,NaN,None,
820,business support officer / junior business ana...,Brisbane,Hudson,Information & Communication Technology,Contract/Temp,\r\r\r\r\nOur client is a high profile Queensl...,analyst,False,NaN,hourly,87000.0,None,

In [47]:
df['data_scientist'] = df['data_scientist'].str.contains('data scientist') & df['senior_role'].str.contains('False')

In [48]:
df['data_scientist'] = df.data_scientist.astype(str)

In [49]:
df['data_scientist'] = df.data_scientist.replace('True','DS')
df['data_scientist'] = df.data_scientist.replace('False',' ')

In [50]:
df['senior_analyst'] = df['analyst'].str.contains('analyst') & df['senior_role'].str.contains('True')

In [51]:
df['senior_analyst'] = df.senior_analyst.astype(str)

df['senior_analyst'] = df.senior_analyst.replace('True','SDA')
df['senior_analyst'] = df.senior_analyst.replace('False',' ')

In [52]:
df[df.senior_analyst =='SDA'].shape

(63, 16)

In [53]:
df['analyst'] = df['analyst'].str.contains('analyst') & df['senior_role'].str.contains('False')

In [54]:
df['analyst'] = df.analyst.astype(str)

df['analyst'] = df.analyst.replace('True','DA')
df['analyst'] = df.analyst.replace('False',' ')

In [55]:
df[df.analyst =='DA'].shape

(133, 16)

In [56]:
df[df.senior_data_scientist == 'SeniorDS'].shape

(39, 16)

In [57]:
df[df.data_scientist == 'DS'].shape

(92, 16)

In [58]:
df['SBI'] =df['business_intelligence'].str.contains('business_intelligence') & df['senior_role'].str.contains('True')

In [59]:
df['SBI'] = df.SBI.astype(str)

In [60]:
df['SBI'] = df.SBI.replace('True','SBI')
df['SBI'] = df.SBI.replace('False',' ')

In [61]:
df.SBI.value_counts()
df.BI.value_counts()

AttributeError: 'DataFrame' object has no attribute 'BI'

In [62]:
df['BI'] = df['business_intelligence'].str.contains('business_intelligence') & df['senior_role'].str.contains('False')

df['BI'] = df.BI.astype(str)

df['BI'] = df.BI.replace('True','BI')
df['BI'] = df.BI.replace('False',' ')

In [73]:
df['consultant'] = df.consultant.replace(None,' ')

TypeError: 'regex' must be a string or a compiled regular expression or a list or dict of strings or regular expressions, you passed a 'bool'

In [83]:
df.head(2)

,job_title,location,company,class,job_type,description,analyst,senior_role,data_scientist,pay_type,salary,business_intelligence,data_engineer,consultant,senior_data_scientist,senior_analyst,SBI,BI
0,data scientist | smart cities,Sydney,Talenza,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by an Icon ...,,False,DS,daily,262500.0,None,,,,,,
1,data scientist l machine learning engineer l $...,Sydney,NaN,Information & Communication Technology,Full Time,Great team environment/ office space Perman...,,False,DS,annual,154999.5,None,data engineer,,,,,

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821 entries, 0 to 820
Data columns (total 18 columns):
job_title                821 non-null object
location                 821 non-null object
company                  801 non-null object
class                    821 non-null object
job_type                 821 non-null object
description              821 non-null object
analyst                  821 non-null object
senior_role              821 non-null object
data_scientist           821 non-null object
pay_type                 821 non-null object
salary                   230 non-null float64
business_intelligence    93 non-null object
data_engineer            821 non-null object
consultant               821 non-null object
senior_data_scientist    821 non-null object
senior_analyst           821 non-null object
SBI                      821 non-null object
BI                       821 non-null object
dtypes: float64(1), object(17)
memory usage: 115.5+ KB

In [80]:
df.columns

Index(['job_title', 'location', 'company', 'class', 'job_type', 'description',
       'analyst', 'senior_role', 'data_scientist', 'pay_type', 'salary',
       'business_intelligence', 'data_engineer', 'consultant',
       'senior_data_scientist', 'senior_analyst', 'SBI', 'BI'],
      dtype='object')

In [87]:
df= df[['job_title', 'location', 'company', 'class', 'job_type', 'description',
        'senior_role', 'pay_type', 'salary','business_intelligence', 
        'senior_data_scientist', 'data_scientist','analyst','senior_analyst',
        'SBI', 'BI','data_engineer', 'consultant']]

In [88]:
df
#'analyst','data_scientist','senior_data_scientist','senior_analyst','SBI','BI'

,job_title,location,company,class,job_type,description,senior_role,pay_type,salary,business_intelligence,senior_data_scientist,data_scientist,analyst,senior_analyst,SBI,BI,data_engineer,consultant
0,data scientist | smart cities,Sydney,Talenza,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by an Icon ...,False,daily,262500.0,None,,DS,,,,,,
1,data scientist l machine learning engineer l $...,Sydney,NaN,Information & Communication Technology,Full Time,Great team environment/ office space Perman...,False,annual,154999.5,None,,DS,,,,,data engineer,
2,data scientist,Melbourne,FourQuarters Recruitment,Information & Communication Technology,Full Time,Data Scientist | Melbourne CBD | Permanent\r\r...,False,annual,NaN,None,,DS,,,,,,
3,lead data scientist | python | machine learning,Sydney,Talenza,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by industry...,True,daily,356250.0,None,SeniorDS,,,,,,,
4,data scientist,Sydney,Greythorn Experis,Information & Communication Technology,Contract/Temp,\r\r\r\r\n\r\r\r\r\n\r\r\r\r\nHands-on experie...,False,annual,NaN,None,,DS,,,,,,
5,data scientist | customer analytics | fintech,Sydney,HCM Australia,Information & Communication Technology,Full Time,\r\r\r\r\n \r\r\r\r\nÂ \r\r\r\r\nData Scientist...,False,annual,165000.0,None,,DS,DA,,,,,
6,senior data scientist / data products consult...,Melbourne,Correlate Resources,Information & Communication Technology,Contract/Temp,In this exciting contract opportunity we are l...,True,daily,300000.0,None,SeniorDS,,,,,,,consultant
7,data scientist,Sydney,Motion Recruitment,Information & Communication Technology,Full Time,About the business and the role My client is ...,False,annual,NaN,None,,DS,,,,,,
8,data science and analytics specialist (data sc...,Sydney,GP Synergy,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\nFull-time position\r\r\r\r...,False,annual,NaN,None,,DS,DA,,,,,
9,data scientist,Sydney,Foxtel Management Pty Limited,Information & Communication Technology,Full Time,"At Foxtel, weâre bringing television to Austra...",False,annual,NaN,None,,DS,,,,,,
10,associate data scientist,Melbourne,GO1 Pty Ltd,Science & Healthcare,Full Time,The opportunity GO1 are looking for an Associa...,False,annual,NaN,None,,DS,,,,,,
11,senior data scientist,Melbourne,Foxtel Management Pty Limited,Information & Communication Technology,Full Time,"At Foxtel, weâre bringing television to Austra...",True,annual,NaN,None,SeniorDS,,,,,,,
12,senior data scientist - data centre of excellence,Sydney,Optus,Financial Services,Full Time,\r\r\r\r\nData Centre of Excellence Come and ...,True,annual,NaN,None,SeniorDS,,,,,,,
13,mid level data scientist/machine learning engi...,Sydney,Intellify,Information & Communication Technology,Full Time,About Intellify Intellify is an award-winning ...,False,annual,110000.0,None,,DS,,,,,data engineer,
14,research scientist - data integration,Melbourne,CSIRO,Science & Healthcare,Full Time,\r\r\r\r\n\r\r\r\r\n \r\r\r\r\nThe Opportunity...,False,annual,102791.5,None,,,,,,,,
15,data scientist,Brisbane,Finite IT Recruitment Solutions,Information & Communication Technology,Contract/Temp,\r\r\r\r\nMultipleÂ roles for a 6-month contrac...,False,annual,NaN,None,,DS,,,,,,
16,"senior / lead data scientist: utilities, manuf...",Sydney,Data Talent Pty Ltd,Information & Communication Technology,Full Time,Data Executive is a recruitment search firm wh...,True,annual,200000.0,None,SeniorDS,,,,,,,
17,senior data scientist,Sydney,FIRESOFT Consulting,Information & Communication Technology,Full Time,"\r\r\r\r\nSenior Data Scientist - Surry Hills,...",True,annual,130000.0,None,SeniorDS,,,,,,,
18,senior data scientist,Sydney,T+O+M Executive,Science & Healthcare,Full Time,\r\r\r\r\nJoin a newly established team of dat...,True,annual,150000.0,None,SeniorDS,,,,,,,
19,"experienced data scientist, western subs, syd...",Sydney,inDmand Career Solutions,Financial Services,Full Time,My client is an innovative Financial Services ...,False,annual,150000.0,None,,DS,,,,,,
20,data scientist (deep learning & ai ),Melbourne,Six Degrees Executive Pty Ltd,Science & Healthcare,Contract/Temp,\r\r\r\r\nA leading Innovative Technology solu...,False,annual,NaN,None,,DS,,,,,,
21,senior data scientist and biodiversity informa...,Brisbane,IPA,Science & Healthcare,Contract/Temp,\r\r\r\r\nIPA is currently seeking people for ...,True,annual,NaN,None,SeniorDS,,,,,,,
22,data science software engineer,Sydney,The University of Sydney,Information & Communication Technology,Full Time,About the opportunity This is an exciting opp...,False,annual,NaN,None,,DS,,,,,data engineer,
23,data scientist - machine learning // c++ // py...,Sydney,Xpand Group Pty Ltd,Financial Services,Full Time,The CompanyMy client is a global leader within...,False,annual,NaN,None,,DS,,,,,,
24,"data scientist, analytics, machine learning - ...",Sydney,Infinity Pro,Information & Communication Technology,Full Time,Your Benefits:\r\r\r\r\n\r\r\r\r\nGreat Packag...,False,annual,NaN,None,,DS,DA,,,,,
25,senior data scientist,Sydney,Aurec,Information & Communication Technology,Contract/Temp,Where youâll be working:You will be working wi...,True,annual,NaN,None,SeniorDS,,,,,,,
26,lead data scientist,Melbourne,Michael Page Information Technology,Information & Communication Technology,Full Time,\r\r\r\r\nHelp drive data science and machine ...,True,annual,215000.0,None,SeniorDS,,,,,,,
27,data scientist - marketing,Sydney,Sirius Technology Sydney part of Sirius People...,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\nBe part of a high performi...,False,annual,NaN,None,,DS,,,,,,
28,commodity data scientist - sydney,Sydney,GrainCorp,Financial Services,Full Time,\r\r\r\r\nTogether we understand the big pictu...,False,annual,NaN,None,,DS,,,,,,
29,data scientist,Melbourne,Ethos BeathChapman,Information & Communication Technology,Full Time,\r\r\r\r\nWe are looking for a Data Scientist ...,False,annual,150000.0,None,,DS,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,security guard - retail - on call casual - mac...,Mackay & Coalfields,Millennium Hi-Tech Group Pty Ltd,Other,Casual/Vacation,The CompanyMillennium Services Group Ltd is an...,False,annual,NaN,None,,,,,,,,
792,hr data analyst - workday,Sydney,Motion Recruitment,Information & Communication Technology,Contract/Temp,About the business and the role My client is ...,False,annual,NaN,None,,,DA,,,,,
793,el1 change communications lead,ACT,Randstad - Commercial,Other,Contract/Temp,\r\r\r\r\nAre you an experienced Change Commun...,True,hourly,190000.0,None,,,,,,,,
794,security systems- sales consultant,Brisbane,Professional Caliber Security,Other,Full Time,Professional Caliber Security are currently lo...,False,annual,NaN,None,,,,,,,,consultant
795,bi developer,Perth,Aurora Consulting Pty Ltd,Information & Communication Technology,Full Time,The Company Aurora Consulting is an establishe...,False,hourly,160000.0,None,,,,,,,,
796,senior technical ba | bi | long term contract |,Sydney,Billigence,Information & Communication Technology,Contract/Temp,ABOUT US Billigence Pty Ltd is a specialist i...,True,annual,NaN,None,,,,,,,,
797,microsoft azure senior to managing consultant,Sydney,Altis Consulting,Information & Communication Technology,Full Time,Why Altis?Altis ConsultingÂ was established in ...,True,annual,NaN,None,,,,,,,,consultant
798,test analyst,Brisbane,Eden Ritchie Recruitment,Information & Communication Technology,Contract/Temp,\r\r\r\r\n\r\r\r\r\nWork close to home!\r\r\r\...,False,hourly,85000.0,None,,,DA,,,,,
799,pricing and business analyst - manufacturing,Sydney,Robert Walters,Financial Services,Full Time,\r\r\r\r\nAn excellent opportunity has present...,False,annual,95000.0,None,,,DA,,,,,
800,demand and supply planner,Melbourne,Hays Logistics,Other,Full Time,\r\r\r\r\nJoin a company that values your deve...,False,annual,77500.0,None,,,,,,,,
801,senior change manager | long term contract | i...,Sydney,Billigence,Information & Communication Technology,Contract/Temp,About usÂ Â Billigence Pty Ltd is a specialist...,True,annual,NaN,None,,,,,,,,
802,senior java full stack web developer,Melbourne,Pactera Technology Australia Pty Ltd,Information & Communication Technology,Full Time,About Us Pactera is a leading digital consulti...,True,annual,NaN,None,,,,,,,,
803,managing consultant - data management,Sydney,Altis Consulting,Information & Communication Technology,Full Time,Do you have a passion for developing strategic...,False,annual,NaN,None,,,,,,,,consultant
804,software developer,Brisbane,NEXUSsoft Pty Ltd,Information & Communication Technology,Full Time,Salary commensurate with skills and experienc...,False,annual,NaN,None,,,,,,,,
805,future student recruitment analyst,Sydney,University of New South Wales,Other,Full Time,\r\r\r\r\n\r\r\r\r\nJoin us at an exciting tim...,False,annual,NaN,None,,,DA,,,,,
806,senior sap data services consultant - new zealand,Melbourne,Morgan Campbell - the #1 SAP Recruitment Experts,Information & Communication Technology,Contract/Temp,Morgan Campbell is the #1 provider of SAP Recr...,True,annual,NaN,None,,,,,,,,consultant
807,sql developer - defence,Melbourne,Marshall McAdam,Information & Communication Technology,Full Time,\r\r\r\r\nSQL Developer Role - Technical Speci...,False,annual,NaN,None,,,,,,,,
808,bi/ snr consultant role â data and analytics (...,Sydney,Opus Recruitment Solutions,Information & Communication Technology,Full Time,My client is one of the worldâs leading infras...,False,annual,145000.0,None,,,DA,,,,,consultant
809,senior bi developer,Melbourne,Programmed Professionals,Information & Communication Technology,Full Time,\r\r\r\r\nSeeking an enthusiastic Senior BI de...,True,annual,NaN,None,,,,,,,,
810,support consultant,Sydney,NaN,Information & Communication Technology,Full Time,Our client is a global software manufacturer c...,False,annual,87500.0,None,,,,,,,,consultant
811,data analyst - power bi,ACT,Modis,Information & Communication Technology,Full Time,\r\r\r\r\nModis based in Canberra is looking f...,False,annual,NaN,None,,,DA,,,,,
812,senior developer,Melbourne,GMT People,Information & Communication Technology,Full Time,\r\r\r\r\nOur client is an industry leader in ...,True,annual,NaN,None,,,,,,,,
813,microsoft office 365 (senior consultant),Perth,FinXL IT Professional Services,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,True,annual,NaN,None,,,,,,,,consultant
814,senior engineer (active directory & azure),Perth,FinXL IT Professional Services,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,True,annual,NaN,None,,,,,,,data engineer,
815,data platform manager (bi & data warehouse),Melbourne,Envato,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\n\r\r\r\r\nLead Envatoâs gr...,True,annual,NaN,None,,,,,,,,
816,solutions architect (active directory & azure),Perth,FinXL IT Professional Services,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,True,annual,NaN,None,,,,,,,,
817,principal data specialist,Sydney,Data Addiction Pty Ltd,Information & Communication Technology,Full Time,Principal Data Specialist In the realms of dat...,False,annual,140000.0,None,,,,,,,,
818,financial controller,Melbourne,Radisson on Flagstaff Gardens,Financial Services,Full Time,\r\r\r\r\nRadisson on Flagstaff Gardens Melbou...,False,annual,NaN,None,,,,,,,,
819,data analytics / bi manager,Melbourne,Aginic,Information & Communication Technology,Full Time,THE COMPANY Aginic is a rapidly growing data s...,True,annual,NaN,None,,,,SDA,,,,
820,business support officer / junior business ana...,Brisbane,Hudson,Information & Communication Technology,Contract/Temp,\r\r\r\r\nOur client is a high profile Queensl...,False,hourly,87000.0,None,,,DA,,,,,

In [93]:
df.iloc[:,-8:]

,senior_data_scientist,data_scientist,analyst,senior_analyst,SBI,BI,data_engineer,consultant
0,,DS,,,,,,
1,,DS,,,,,data engineer,
2,,DS,,,,,,
3,SeniorDS,,,,,,,
4,,DS,,,,,,
5,,DS,DA,,,,,
6,SeniorDS,,,,,,,consultant
7,,DS,,,,,,
8,,DS,DA,,,,,
9,,DS,,,,,,
10,,DS,,,,,,
11,SeniorDS,,,,,,,
12,SeniorDS,,,,,,,
13,,DS,,,,,data engineer,
14,,,,,,,,
15,,DS,,,,,,
16,SeniorDS,,,,,,,
17,SeniorDS,,,,,,,
18,SeniorDS,,,,,,,
19,,DS,,,,,,
20,,DS,,,,,,
21,SeniorDS,,,,,,,
22,,DS,,,,,data engineer,
23,,DS,,,,,,
24,,DS,DA,,,,,
25,SeniorDS,,,,,,,
26,SeniorDS,,,,,,,
27,,DS,,,,,,
28,,DS,,,,,,
29,,DS,,,,,,
...,...,...,...,...,...,...,...,...
791,,,,,,,,
792,,,DA,,,,,
793,,,,,,,,
794,,,,,,,,consultant
795,,,,,,,,
796,,,,,,,,
797,,,,,,,,consultant
798,,,DA,,,,,
799,,,DA,,,,,
800,,,,,,,,
801,,,,,,,,
802,,,,,,,,
803,,,,,,,,consultant
804,,,,,,,,
805,,,DA,,,,,
806,,,,,,,,consultant
807,,,,,,,,
808,,,DA,,,,,consultant
809,,,,,,,,
810,,,,,,,,consultant
811,,,DA,,,,,
812,,,,,,,,
813,,,,,,,,consultant
814,,,,,,,data engineer,
815,,,,,,,,
816,,,,,,,,
817,,,,,,,,
818,,,,,,,,
819,,,,SDA,,,,
820,,,DA,,,,,

In [94]:
df['job_role'] = df.iloc[:,-8:].apply(lambda x: " ".join(x), axis=1)

C:\Users\anita\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Joining axis

In [95]:
df.job_role.value_counts()

                                        274
            data engineer               115
    DA                                   96
  DS                                     66
              consultant                 54
      SDA                                45
SeniorDS                                 31
        SBI                              29
          BI                             27
    DA     BI                            16
  DS DA                                  15
      SDA SBI                             8
        SBI     consultant                7
      SDA       consultant                6
  DS           consultant                 6
  DS         data engineer                5
          BI   consultant                 4
    DA         consultant                 4
SeniorDS     SDA                          4
            data engineer consultant      3
SeniorDS             consultant           3
    DA     BI   consultant                1
SeniorDS       SBI                        1
    DA       data engineer                1
Name: job_role, dtype: int64

In [96]:
df.drop(['analyst','data_scientist','senior_data_scientist','senior_analyst','SBI','BI',
         'data_engineer', 'consultant','business_intelligence','company'], axis=1, inplace=True)

C:\Users\anita\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [248]:
df.drop(['business_intelligence','company'], axis=1, inplace=True)

In [97]:
df.tail()

,job_title,location,class,job_type,description,senior_role,pay_type,salary,job_role
816,solutions architect (active directory & azure),Perth,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,True,annual,NaN,
817,principal data specialist,Sydney,Information & Communication Technology,Full Time,Principal Data Specialist In the realms of dat...,False,annual,140000.0,
818,financial controller,Melbourne,Financial Services,Full Time,\r\r\r\r\nRadisson on Flagstaff Gardens Melbou...,False,annual,NaN,
819,data analytics / bi manager,Melbourne,Information & Communication Technology,Full Time,THE COMPANY Aginic is a rapidly growing data s...,True,annual,NaN,SDA
820,business support officer / junior business ana...,Brisbane,Information & Communication Technology,Contract/Temp,\r\r\r\r\nOur client is a high profile Queensl...,False,hourly,87000.0,DA

In [102]:
df.job_role.value_counts(dropna=False)

                                        274
            data engineer               115
    DA                                   96
  DS                                     66
              consultant                 54
      SDA                                45
SeniorDS                                 31
        SBI                              29
          BI                             27
    DA     BI                            16
  DS DA                                  15
      SDA SBI                             8
        SBI     consultant                7
      SDA       consultant                6
  DS           consultant                 6
  DS         data engineer                5
          BI   consultant                 4
    DA         consultant                 4
SeniorDS     SDA                          4
            data engineer consultant      3
SeniorDS             consultant           3
    DA     BI   consultant                1
SeniorDS       SBI                        1
    DA       data engineer                1
Name: job_role, dtype: int64

In [109]:
df[df.job_role == '               ']

,job_title,location,class,job_type,description,senior_role,pay_type,salary,job_role
14,research scientist - data integration,Melbourne,Science & Healthcare,Full Time,\r\r\r\r\n\r\r\r\r\n \r\r\r\r\nThe Opportunity...,False,annual,102791.5,
60,associate professor: centre for change & compl...,Adelaide,Other,Full Time,\r\r\r\r\n About the JobThe Centre for Change ...,False,annual,150059.0,
86,postdoctoral research fellow machine learning,Sydney,Other,Full Time,\r\r\r\r\nComputational Intelligence & Brain C...,False,annual,NaN,
89,solution architect /tech lead - machine learning,Melbourne,Information & Communication Technology,Full Time,Company OverviewProfusion is excited to have p...,True,annual,165000.0,
113,research fellow,ACT,Other,Full Time,\r\r\r\r\n\r\r\r\r\nClassification: Academic L...,False,annual,104687.0,
118,postdoctoral research fellow,Sydney,Other,Full Time,\r\r\r\r\n\r\r\r\r\nSalary Package: Level A st...,False,annual,NaN,
130,machine learning developer (with microsoft ski...,Adelaide,Information & Communication Technology,Contract/Temp,\r\r\r\r\n Finite \r\r\r\r\n Finite is Austral...,False,annual,NaN,
133,lecturers in computer vision and machine learning,Sydney,Other,Full Time,"\r\r\r\r\nAt UTS, the concepts of equity and s...",False,annual,NaN,
135,2x innovative java developers wanted (mid & se...,Sydney,Information & Communication Technology,Contract/Temp,Join a well-funded global company in their Syd...,True,daily,100000.0,
136,technical solution architect,Sydney,Information & Communication Technology,Full Time,\r\r\r\r\nProvide thought leadership and subje...,False,annual,NaN,
139,solution architect - ai,ACT,Information & Communication Technology,Full Time,\r\r\r\r\nThis is a unique Solution Architect ...,False,annual,NaN,
141,solution architect - azure,Adelaide,Information & Communication Technology,Contract/Temp,\r\r\r\r\n\r\r\r\r\nWell-known organisation\r\...,False,annual,NaN,
146,senior product manager,Sydney,Information & Communication Technology,Full Time,Senior Product Manager Global SaaS Artificial ...,True,annual,NaN,
149,hiring graduate,Sydney,Information & Communication Technology,Full Time,"At Micro Focus, everything we do is based on a...",False,annual,NaN,
152,it project manager (contact centre),Melbourne,Information & Communication Technology,Contract/Temp,\r\r\r\r\nProject Manager (Contact Centre)\r\r...,True,daily,175000.0,
153,"front end developer, react.js javascript es6 m...",Melbourne,Information & Communication Technology,Full Time,Front End Dev needed with React in Melb on mac...,False,annual,140000.0,
159,reporting /data anlayst sap,Melbourne,Information & Communication Technology,Contract/Temp,\r\r\r\r\nReporting /Data Analyst SAP is curre...,False,annual,NaN,
160,lecturers / senior lecturers in machine learni...,Melbourne,Other,Full Time,\r\r\r\r\nJob No.: 592283\r\r\r\r\nLocation:Â C...,True,annual,128185.0,
166,csiro science leader: digital disruption - min...,Perth,Other,Full Time,\r\r\r\r\n\r\r\r\r\nâ¢ Apply your mathematics e...,True,annual,NaN,
167,reporting specialist,Sydney,Information & Communication Technology,Full Time,\r\r\r\r\nMy client is looking for a reporting...,False,annual,NaN,
170,technical trainer,Melbourne,Information & Communication Technology,Contract/Temp,"\r\r\r\r\nBased in the Analytics Hub, you will...",False,annual,NaN,
171,"c# .net guru, front office trading team, equit...",Sydney,Financial Services,Full Time,"\r\r\r\r\nC# .Net Guru, Front Office Trading T...",False,annual,NaN,
175,ux designer,Sydney,Information & Communication Technology,Contract/Temp,\r\r\r\r\nUSER EXPERIENCE DESIGNER:\r\r\r\r\nA...,False,daily,168750.0,
176,senior data architect,Brisbane,Information & Communication Technology,Full Time,\r\r\r\r\nAbout Oakton\r\r\r\r\nOakton is one ...,True,annual,NaN,
177,it project manager (contact centre),Melbourne,Information & Communication Technology,Contract/Temp,\r\r\r\r\nProject Manager (Contact Centre)\r\r...,True,daily,175000.0,
180,senior fullstack nodejs/api/aws developer - 12...,Sydney,Information & Communication Technology,Full Time,If you are looking for a true engineering chal...,True,annual,NaN,
181,msbi developer,Sydney,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyGlobally recognised organ...,False,annual,NaN,
182,paid search manager,Sydney,Other,Full Time,\r\r\r\r\nOur client are a Global online retai...,True,annual,115000.0,
186,senior etl developer contract - $900pd,Sydney,Information & Communication Technology,Full Time,My client is one of Australia's leading trave...,True,annual,NaN,
194,information architect,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nAbout OaktonÂ \r\r\r\r\nOakton is one...,False,annual,NaN,
...,...,...,...,...,...,...,...,...,...
761,.net developer /bi,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\nBox Hill North location\r\...,False,annual,NaN,
764,report developer,Perth,Information & Communication Technology,Contract/Temp,\r\r\r\r\n \r\r\r\r\nOur government client is ...,False,annual,NaN,
767,bi team leader,Sydney,Information & Communication Technology,Full Time,BI LEAD Consultant Â Â About The Role As a BI L...,True,annual,NaN,
768,junior bi developer,Sydney,Information & Communication Technology,Full Time,The Company: Healius Limited is one of Austra...,False,annual,NaN,
770,team leader - insights & knowledge production,Sydney,Financial Services,Full Time,\r\r\r\r\n About the Organisation This oppor...,True,annual,NaN,
771,mid-snr bi developer,Melbourne,Information & Communication Technology,Full Time,Play a vital role in an international company\...,False,annual,NaN,
773,systems administrator,ACT,Information & Communication Technology,Contract/Temp,\r\r\r\r\nSystem Administrator will be require...,False,hourly,200000.0,
775,it power bi/sharepoint technical lead,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nIT Power BI / SharePoint Technical L...,True,annual,NaN,
776,project manager,Sydney,Information & Communication Technology,Full Time,\r\r\r\r\nThis industry leading construction a...,True,annual,NaN,
778,bi developer,Sydney,Information & Communication Technology,Contract/Temp,\r\r\r\r\nLarge government organisation based ...,False,annual,NaN,
781,operations manager - aspire4life,Brisbane,Other,Full Time,\r\r\r\r\nWe are looking for a game changer. A...,True,annual,NaN,
782,unica campaign developer with strong experienc...,Melbourne,Information & Communication Technology,Contract/Temp,Total 4+ years of industry and IT experience ...,False,annual,NaN,
783,projects & support coordinator,Brisbane,Information & Communication Technology,Full Time,ABOUT C9 C9 is a full service web and software...,False,annual,NaN,
787,erp project manager - erp project management d...,Sydney,Information & Communication Technology,Full Time,Your Benefits:\r\r\r\r\n\r\r\r\r\nReputable Or...,True,annual,NaN,
788,senior accounts assistant,Sydney,Financial Services,Full Time,"\r\r\r\r\nSince 2008, Servian has been known t...",True,annual,NaN,
791,security guard - retail - on call casual - mac...,Mackay & Coalfields,Other,Casual/Vacation,The CompanyMillennium Services Group Ltd is an...,False,annual,NaN,
793,el1 change communications lead,ACT,Other,Contract/Temp,\r\r\r\r\nAre you an experienced Change Commun...,True,hourly,190000.0,
795,bi developer,Perth,Information & Communication Technology,Full Time,The Company Aurora Consulting is an establishe...,False,hourly,160000.0,
796,senior technical ba | bi | long term contract |,Sydney,Information & Communication Technology,Contract/Temp,ABOUT US Billigence Pty Ltd is a specialist i...,True,annual,NaN,
800,demand and supply planner,Melbourne,Other,Full Time,\r\r\r\r\nJoin a company that values your deve...,False,annual,77500.0,
801,senior change manager | long term contract | i...,Sydney,Information & Communication Technology,Contract/Temp,About usÂ Â Billigence Pty Ltd is a specialist...,True,annual,NaN,
802,senior java full stack web developer,Melbourne,Information & Communication Technology,Full Time,About Us Pactera is a leading digital consulti...,True,annual,NaN,
804,software developer,Brisbane,Information & Communication Technology,Full Time,Salary commensurate with skills and experienc...,False,annual,NaN,
807,sql developer - defence,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nSQL Developer Role - Technical Speci...,False,annual,NaN,
809,senior bi developer,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nSeeking an enthusiastic Senior BI de...,True,annual,NaN,
812,senior developer,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nOur client is an industry leader in ...,True,annual,NaN,
815,data platform manager (bi & data warehouse),Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\n\r\r\r\r\nLead Envatoâs gr...,True,annual,NaN,
816,solutions architect (active directory & azure),Perth,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,True,annual,NaN,
817,principal data specialist,Sydney,Information & Communication Technology,Full Time,Principal Data Specialist In the realms of dat...,False,annual,140000.0,
818,financial controller,Melbourne,Financial Services,Full Time,\r\r\r\r\nRadisson on Flagstaff Gardens Melbou...,False,annual,NaN,

In [110]:
df['job_role'] = df.job_role.replace('               ', np.nan)

C:\Users\anita\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [111]:
df

,job_title,location,class,job_type,description,senior_role,pay_type,salary,job_role
0,data scientist | smart cities,Sydney,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by an Icon ...,False,daily,262500.0,DS
1,data scientist l machine learning engineer l $...,Sydney,Information & Communication Technology,Full Time,Great team environment/ office space Perman...,False,annual,154999.5,DS data engineer
2,data scientist,Melbourne,Information & Communication Technology,Full Time,Data Scientist | Melbourne CBD | Permanent\r\r...,False,annual,NaN,DS
3,lead data scientist | python | machine learning,Sydney,Science & Healthcare,Contract/Temp,\r\r\r\r\nTalenza has been engaged by industry...,True,daily,356250.0,SeniorDS
4,data scientist,Sydney,Information & Communication Technology,Contract/Temp,\r\r\r\r\n\r\r\r\r\n\r\r\r\r\nHands-on experie...,False,annual,NaN,DS
5,data scientist | customer analytics | fintech,Sydney,Information & Communication Technology,Full Time,\r\r\r\r\n \r\r\r\r\nÂ \r\r\r\r\nData Scientist...,False,annual,165000.0,DS DA
6,senior data scientist / data products consult...,Melbourne,Information & Communication Technology,Contract/Temp,In this exciting contract opportunity we are l...,True,daily,300000.0,SeniorDS consultant
7,data scientist,Sydney,Information & Communication Technology,Full Time,About the business and the role My client is ...,False,annual,NaN,DS
8,data science and analytics specialist (data sc...,Sydney,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\nFull-time position\r\r\r\r...,False,annual,NaN,DS DA
9,data scientist,Sydney,Information & Communication Technology,Full Time,"At Foxtel, weâre bringing television to Austra...",False,annual,NaN,DS
10,associate data scientist,Melbourne,Science & Healthcare,Full Time,The opportunity GO1 are looking for an Associa...,False,annual,NaN,DS
11,senior data scientist,Melbourne,Information & Communication Technology,Full Time,"At Foxtel, weâre bringing television to Austra...",True,annual,NaN,SeniorDS
12,senior data scientist - data centre of excellence,Sydney,Financial Services,Full Time,\r\r\r\r\nData Centre of Excellence Come and ...,True,annual,NaN,SeniorDS
13,mid level data scientist/machine learning engi...,Sydney,Information & Communication Technology,Full Time,About Intellify Intellify is an award-winning ...,False,annual,110000.0,DS data engineer
14,research scientist - data integration,Melbourne,Science & Healthcare,Full Time,\r\r\r\r\n\r\r\r\r\n \r\r\r\r\nThe Opportunity...,False,annual,102791.5,NaN
15,data scientist,Brisbane,Information & Communication Technology,Contract/Temp,\r\r\r\r\nMultipleÂ roles for a 6-month contrac...,False,annual,NaN,DS
16,"senior / lead data scientist: utilities, manuf...",Sydney,Information & Communication Technology,Full Time,Data Executive is a recruitment search firm wh...,True,annual,200000.0,SeniorDS
17,senior data scientist,Sydney,Information & Communication Technology,Full Time,"\r\r\r\r\nSenior Data Scientist - Surry Hills,...",True,annual,130000.0,SeniorDS
18,senior data scientist,Sydney,Science & Healthcare,Full Time,\r\r\r\r\nJoin a newly established team of dat...,True,annual,150000.0,SeniorDS
19,"experienced data scientist, western subs, syd...",Sydney,Financial Services,Full Time,My client is an innovative Financial Services ...,False,annual,150000.0,DS
20,data scientist (deep learning & ai ),Melbourne,Science & Healthcare,Contract/Temp,\r\r\r\r\nA leading Innovative Technology solu...,False,annual,NaN,DS
21,senior data scientist and biodiversity informa...,Brisbane,Science & Healthcare,Contract/Temp,\r\r\r\r\nIPA is currently seeking people for ...,True,annual,NaN,SeniorDS
22,data science software engineer,Sydney,Information & Communication Technology,Full Time,About the opportunity This is an exciting opp...,False,annual,NaN,DS data engineer
23,data scientist - machine learning // c++ // py...,Sydney,Financial Services,Full Time,The CompanyMy client is a global leader within...,False,annual,NaN,DS
24,"data scientist, analytics, machine learning - ...",Sydney,Information & Communication Technology,Full Time,Your Benefits:\r\r\r\r\n\r\r\r\r\nGreat Packag...,False,annual,NaN,DS DA
25,senior data scientist,Sydney,Information & Communication Technology,Contract/Temp,Where youâll be working:You will be working wi...,True,annual,NaN,SeniorDS
26,lead data scientist,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nHelp drive data science and machine ...,True,annual,215000.0,SeniorDS
27,data scientist - marketing,Sydney,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\nBe part of a high performi...,False,annual,NaN,DS
28,commodity data scientist - sydney,Sydney,Financial Services,Full Time,\r\r\r\r\nTogether we understand the big pictu...,False,annual,NaN,DS
29,data scientist,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nWe are looking for a Data Scientist ...,False,annual,150000.0,DS
...,...,...,...,...,...,...,...,...,...
791,security guard - retail - on call casual - mac...,Mackay & Coalfields,Other,Casual/Vacation,The CompanyMillennium Services Group Ltd is an...,False,annual,NaN,NaN
792,hr data analyst - workday,Sydney,Information & Communication Technology,Contract/Temp,About the business and the role My client is ...,False,annual,NaN,DA
793,el1 change communications lead,ACT,Other,Contract/Temp,\r\r\r\r\nAre you an experienced Change Commun...,True,hourly,190000.0,NaN
794,security systems- sales consultant,Brisbane,Other,Full Time,Professional Caliber Security are currently lo...,False,annual,NaN,consultant
795,bi developer,Perth,Information & Communication Technology,Full Time,The Company Aurora Consulting is an establishe...,False,hourly,160000.0,NaN
796,senior technical ba | bi | long term contract |,Sydney,Information & Communication Technology,Contract/Temp,ABOUT US Billigence Pty Ltd is a specialist i...,True,annual,NaN,NaN
797,microsoft azure senior to managing consultant,Sydney,Information & Communication Technology,Full Time,Why Altis?Altis ConsultingÂ was established in ...,True,annual,NaN,consultant
798,test analyst,Brisbane,Information & Communication Technology,Contract/Temp,\r\r\r\r\n\r\r\r\r\nWork close to home!\r\r\r\...,False,hourly,85000.0,DA
799,pricing and business analyst - manufacturing,Sydney,Financial Services,Full Time,\r\r\r\r\nAn excellent opportunity has present...,False,annual,95000.0,DA
800,demand and supply planner,Melbourne,Other,Full Time,\r\r\r\r\nJoin a company that values your deve...,False,annual,77500.0,NaN
801,senior change manager | long term contract | i...,Sydney,Information & Communication Technology,Contract/Temp,About usÂ Â Billigence Pty Ltd is a specialist...,True,annual,NaN,NaN
802,senior java full stack web developer,Melbourne,Information & Communication Technology,Full Time,About Us Pactera is a leading digital consulti...,True,annual,NaN,NaN
803,managing consultant - data management,Sydney,Information & Communication Technology,Full Time,Do you have a passion for developing strategic...,False,annual,NaN,consultant
804,software developer,Brisbane,Information & Communication Technology,Full Time,Salary commensurate with skills and experienc...,False,annual,NaN,NaN
805,future student recruitment analyst,Sydney,Other,Full Time,\r\r\r\r\n\r\r\r\r\nJoin us at an exciting tim...,False,annual,NaN,DA
806,senior sap data services consultant - new zealand,Melbourne,Information & Communication Technology,Contract/Temp,Morgan Campbell is the #1 provider of SAP Recr...,True,annual,NaN,consultant
807,sql developer - defence,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nSQL Developer Role - Technical Speci...,False,annual,NaN,NaN
808,bi/ snr consultant role â data and analytics (...,Sydney,Information & Communication Technology,Full Time,My client is one of the worldâs leading infras...,False,annual,145000.0,DA consultant
809,senior bi developer,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nSeeking an enthusiastic Senior BI de...,True,annual,NaN,NaN
810,support consultant,Sydney,Information & Communication Technology,Full Time,Our client is a global software manufacturer c...,False,annual,87500.0,consultant
811,data analyst - power bi,ACT,Information & Communication Technology,Full Time,\r\r\r\r\nModis based in Canberra is looking f...,False,annual,NaN,DA
812,senior developer,Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\nOur client is an industry leader in ...,True,annual,NaN,NaN
813,microsoft office 365 (senior consultant),Perth,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,True,annual,NaN,consultant
814,senior engineer (active directory & azure),Perth,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,True,annual,NaN,data engineer
815,data platform manager (bi & data warehouse),Melbourne,Information & Communication Technology,Full Time,\r\r\r\r\n\r\r\r\r\n\r\r\r\r\nLead Envatoâs gr...,True,annual,NaN,NaN
816,solutions architect (active directory & azure),Perth,Information & Communication Technology,Full Time,\r\r\r\r\nThe CompanyThis is a fantastic oppor...,True,annual,NaN,NaN
817,principal data specialist,Sydney,Information & Communication Technology,Full Time,Principal Data Specialist In the realms of dat...,False,annual,140000.0,NaN
818,financial controller,Melbourne,Financial Services,Full Time,\r\r\r\r\nRadisson on Flagstaff Gardens Melbou...,False,annual,NaN,NaN
819,data analytics / bi manager,Melbourne,Information & Communication Technology,Full Time,THE COMPANY Aginic is a rapidly growing data s...,True,annual,NaN,SDA
820,business support officer / junior business ana...,Brisbane,Information & Communication Technology,Contract/Temp,\r\r\r\r\nOur client is a high profile Queensl...,False,hourly,87000.0,DA

In [103]:
df.to_csv('clean_part3.csv', index=False)